:host {
  display: block;
  width: 100%;
}

#header-component-wrapper {
  width: 100%;
  padding: 10px;

  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}

.logo-container {
  a {
    text-decoration: none;
    color: var(--header-text-color);
  }
}
