.dark-theme {
  --slate: #333333;
  --slate-brown: #5C4B41;
  --slate-green: #415A54;
  --dark-white: #faf7ff;

  --app-text-color: var(--slate);

  --header-bg-color: var(--slate);
  --header-text-color: var(--dark-white);

  --post-card-text-color: var(--dark-white);

  --font-family: 'Ubuntu', sans-serif;
}
