.dark-theme {
  --slate: #333333;
  --slate-brown: #5C4B41;
  --slate-green: #415A54;
  --dark-white: #faf7ff;

  --app-text-color: var(--dark-white);
  --app-background-color: var(--slate);

  --header-text-color: var(--dark-white);
  --header-bg-color: var(--slate);

  --post-card-text-color: var(--dark-white);

  --post-title-bg-color: var(--slate-brown);

  --back-to-top-button-bg-color: var(--slate-brown);
  --back-to-top-button-icon-color: var(--dark-white);

  --font-family: 'Ubuntu', sans-serif;
}
