<ng-container *ngIf="post">

  <article class="post-component-wrapper">

    <picture class="title-image-container">
      <source media="(max-width: 500px)"
              srcset="http://192.168.2.16:1337{{post.image.formats['small'].url}}">
      <source media="(max-width: 750px)"
              srcset="http://192.168.2.16:1337{{post.image.formats['medium'].url}}">
      <source media="(max-width: 1000px)"
              srcset="http://192.168.2.16:1337{{post.image.formats['large'].url}}">
      <img src="http://192.168.2.16:1337{{post.image.url}}"
           [alt]="post.image.alternativeText">
    </picture>


    <section class="post-title-container">
      <h1 class="post-title">{{ post.title }}</h1>
      <div class="post-additional-info">
        <div class="post-author"><span class="post-author-label">Written by: </span>{{ post.author }}</div>
        |
        <div class="post-published-on">{{ post.published_on | date:'fullDate' }}</div>
      </div>
    </section>

    <!-- <section class="content">
      <markdown>
        {{post.content}}
      </markdown>
    </section> -->

    <section class="content"
             markdown>
      {{post.content}}
    </section>

  </article>

</ng-container>
